<EditorConfig>
  <TypedSvarViews>
    <TypedSvarView>
      <typeInfo>Any</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/Texture2DSVarViewGenerator06de9daa4c4e42308ec72e513e8bdfb5.scala</fileName>
          <className>siris.components.editor.gui.Texture2DSVarViewGenerator06de9daa4c4e42308ec72e513e8bdfb5</className>
          <usedForSVars>
            <sVarIdentifier>texture</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>de.bht.jvr.core.Texture2D</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/Texture2DSVarViewGeneratorac41fa3246ad44f59490ef853361102c.scala</fileName>
          <className>siris.components.editor.gui.Texture2DSVarViewGeneratorac41fa3246ad44f59490ef853361102c</className>
          <usedForSVars></usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f.scala</fileName>
          <className>siris.components.editor.gui.ColorSVarViewGeneratord160f0c23cb84d2ab0f00b88bd85773f</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
            <sVarIdentifier>specularColor</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simplex3d.math.floatm.Mat4f</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/Mat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e.scala</fileName>
          <className>siris.components.editor.gui.Mat4fSVarViewGenerator171103effeec48f7ad46a05b01bc050e</className>
          <usedForSVars></usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>editor-settings/src/Mat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311.scala</fileName>
          <className>siris.components.editor.gui.Mat4fSVarViewGeneratorded9e79cfaca4a538cccf7da1b972311</className>
          <usedForSVars></usedForSVars>
        </SVarView>
        <SVarView>
          <fileName>editor-settings/src/Mat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c.scala</fileName>
          <className>siris.components.editor.gui.Mat4fSVarViewGeneratore1688f7d34ec439e8fe5685c6da36f9c</className>
          <usedForSVars>
            <sVarIdentifier>headTransform</sVarIdentifier>
            <sVarIdentifier>transformation</sVarIdentifier>
            <sVarIdentifier>viewPlatform</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>simplex3d.math.floatm.Vec3f</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/Vec3fSVarViewGenerator1be36361c5744e8e9cc67e778df9d5cf.scala</fileName>
          <className>siris.components.editor.gui.Vec3fSVarViewGenerator1be36361c5744e8e9cc67e778df9d5cf</className>
          <usedForSVars></usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
    <TypedSvarView>
      <typeInfo>siris.components.mesh.ColoredMesh</typeInfo>
      <SVarViews>
        <SVarView>
          <fileName>editor-settings/src/ColoredMeshSVarViewGenerator7414401937b44fac9283d4274db0855a.scala</fileName>
          <className>siris.components.editor.gui.ColoredMeshSVarViewGenerator7414401937b44fac9283d4274db0855a</className>
          <usedForSVars>
            <sVarIdentifier>mesh</sVarIdentifier>
          </usedForSVars>
        </SVarView>
      </SVarViews>
    </TypedSvarView>
  </TypedSvarViews>
  <TypedSvarSetters>
    <TypedSvarSetter>
      <typeInfo>java.awt.Color</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5.scala</fileName>
          <className>siris.components.editor.gui.ColorSVarSetterGeneratorfe7f4cec6e4246c2b922c328dd4d57d5</className>
          <usedForSVars>
            <sVarIdentifier>diffuseColor</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Boolean</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41.scala</fileName>
          <className>siris.components.editor.gui.BooleanSVarSetterGeneratorbc3c1c8da9e946cb8c26b5887e725e41</className>
          <usedForSVars></usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Float</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036.scala</fileName>
          <className>siris.components.editor.gui.FloatSVarSetterGeneratorac52c274df4649c4914e6bab50360036</className>
          <usedForSVars>
            <sVarIdentifier>restitution</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
        <SVarSetter>
          <fileName>editor-settings/src/FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a.scala</fileName>
          <className>siris.components.editor.gui.FloatSVarSetterGeneratord4fa400ebfec4773a1fa774e98c68f9a</className>
          <usedForSVars>
            <sVarIdentifier>angularFactor</sVarIdentifier>
            <sVarIdentifier>constantAttenuation</sVarIdentifier>
            <sVarIdentifier>linearAttenuation</sVarIdentifier>
            <sVarIdentifier>minDistanceToNeighbors</sVarIdentifier>
            <sVarIdentifier>minDistanceToPredators</sVarIdentifier>
            <sVarIdentifier>quadraticAttenuation</sVarIdentifier>
            <sVarIdentifier>shadowBias</sVarIdentifier>
            <sVarIdentifier>spotCutOff</sVarIdentifier>
            <sVarIdentifier>spotExponent</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>java.lang.Integer</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419.scala</fileName>
          <className>siris.components.editor.gui.IntegerSVarSetterGenerator8a8c151931de45bebdbdb183ec3cb419</className>
          <usedForSVars></usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatm.Mat4f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/Mat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe.scala</fileName>
          <className>siris.components.editor.gui.Mat4fSVarSetterGeneratore414020ca06e4f9f885a89bc3a20a4fe</className>
          <usedForSVars>
            <sVarIdentifier>transformation</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
    <TypedSvarSetter>
      <typeInfo>simplex3d.math.floatm.Vec3f</typeInfo>
      <SVarSetters>
        <SVarSetter>
          <fileName>editor-settings/src/Vec3fSVarSetterGeneratore62383c734964fd5b5087bca983096d3.scala</fileName>
          <className>siris.components.editor.gui.Vec3fSVarSetterGeneratore62383c734964fd5b5087bca983096d3</className>
          <usedForSVars>
            <sVarIdentifier>gravity</sVarIdentifier>
          </usedForSVars>
        </SVarSetter>
      </SVarSetters>
    </TypedSvarSetter>
  </TypedSvarSetters>
</EditorConfig>