out/
*.class
build.properties/
*.scala_dependencies
.manager
target/
lib_managed/
src_managed/
project/boot/
project/build/target/
bin/
bin
private/
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.log.6
*.log.7
*.log.8
*.log.9
*.lig.0
/libsiris-reflections.exp
/libsiris-reflections.lib
/libsiris-reflections.pdb
